<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <!-- Controllers START -->
    <bean name="/hello" class="com.hyunbogi.springmvc.web.controller.HelloController"/>
    <!-- Controllers END -->

    <!-- Views START -->
    <bean id="helloMarshallingView" class="org.springframework.web.servlet.view.xml.MarshallingView">
        <property name="marshaller" ref="marshaller"/>
        <property name="modelKey" value="info"/>
    </bean>
    <bean id="helloPdfView" class="com.hyunbogi.springmvc.web.view.HelloPdfView"/>
    <!-- Views START END -->
</beans>
